<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">
        <img width="50" height="50" style="top: 0"alt="Brand" src="logo.jpg">
      </a> -->
      {{#link-to 'index' class="navbar-brand"}}Diamond Pro Mobile Detailing{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
            {{#if isAdmin}}
              {{#link-to 'admin.clients' tagName="li"}}<a href="">Clients</a>{{/link-to}}
            {{/if}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Detailing Services<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#link-to 'packages' (query-params package_type="cars_trucks") tagName="li"}}<a href="">Cars/Trucks</a>{{/link-to}}
                {{#link-to 'packages' (query-params package_type="rv_motorhome") tagName="li"}}<a href="">RV's/Motorhomes</a>{{/link-to}}
                {{#link-to 'packages' (query-params package_type="boats_pwc") tagName="li"}}<a href="">Boats/PWC</a>{{/link-to}}
                {{#link-to 'packages' (query-params package_type="motorcycles") tagName="li"}}<a href="">Motorcycles</a>{{/link-to}}
              </ul>
            </li>
            <li><a href="">Auto Concierge Services</a></li>
            <li><a href="">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{session.data.authenticated.profile.name}}! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#if session.isAuthenticated}}
              <a {{ action 'logout' }}>Logout</a>
            {{else}}
              <a {{ action 'login' }}>Login</a>
            {{/if}}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
